@import "../../variables/_variables";
.chat_middle_container {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  flex-direction: row;
  background: $bg;
  height: calc(100vh - 100px);
  width: calc(100% - 300px);
  border-top: 2px solid $primary;

  .chat_wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: calc(100% - 380px);
    .top_bar_messages {
      height: 60px;
      border-bottom: 1px solid $borderColor;
      border-right: 1px solid $borderColor;
      width: calc(100% - 1px);
      background: #fff;
      display: flex;
      align-self: center;
      justify-content: flex-start;
      flex-direction: row;
      .tphoto {
        flex-direction: row;
        display: flex;
        img {
          height: 30px;
          width: 30px;
          border-radius: 40px;
          margin-left: 30px;
          align-self: center;
          background: $bgb;
        }
        .name_user_chat {
          font-weight: 600;
          display: flex;
          align-self: center;
          justify-content: flex-start;
          padding: 0 10px;
        }
      }
    }

    .chatboard {
      overflow-y: auto;
      padding: 40px 50px 10px;
      height: calc(100vh - 225px);
      border-right: 1px solid $borderColor;
      width: 100%;
      box-sizing: border-box;

      /* width */
      &::-webkit-scrollbar {
        width: 5px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
        border-radius: 10px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $scrolColor;
        border-radius: 10px;
      }
    }
  }
}
