@import '../../variables/_variables';
.nomessages_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .logo {
        font-size: 1.7rem;
        text-transform: capitalize;
        font-weight: bold;
        letter-spacing: -1px;
        font-family: "Poppins", sans-serif;
        i{
          color: $secundary;
        }
      }
    .initial_text{
        font-weight: 700;
        span{
            color: $primary;
        }
    }
    .intro-text{
        font-size: 12px;
        opacity: .6;
    }
}